<h1>Musicians</h1>  
  <% @musicians.each do |musician| %>
    <p class="inline-block"><%= image_tag musician.image.url(:medium) %></br>
    <%= link_to(musician.name, musician_path(musician.id), class: "btn btn-warning") %></p>
  <% end %> 
  <%= link_to "All", profiles_path, class: "btn btn-warning btn-lg" %>
