<link href='http://fonts.googleapis.com/css?family=Permanent+Marker|Rock+Salt|Droid+Sans+Mono|Shadows+Into+Light|Architects+Daughter|Gloria+Hallelujah|Amatic+SC|Roboto|Cabin|Abel|Anton|Wire+One' rel='stylesheet' type='text/css'>

<section id="uber_background">
  <div id="wrapper">
    <h1 class="text-center permanent_marker"><b>Events</b></h1>	
    <h3 class="text-center grey_text">Click on an event title to see more information.</h3>
  <!-- CALENDAR START -->
    <div id="calendar_background">
      <h2 class="text-center gray_text">
        <%= link_to "<", date: @date.prev_month %>
        <%= @date.strftime("%B %Y") %>
        <%= link_to ">", date: @date.next_month %>
      </h2>
    <!-- this calls the calendar helper (helpers/calendar_helper.rb) -->
      <div class="col-md-offset-1">
        <%= calendar @date do |date| %>
          <%= date.day %>
          <% if @events_by_date[date] %>
            <ul class="list-unstyled">
              <% @events_by_date[date].each do |event| %>
                <li><%= link_to event.event_name, event %></li>
              <% end %>
            </ul>
          <% end %>
        <% end %>
        </div>
 <div class="row">
      <a class="nav_tags"><%= link_to("Add an event", new_event_path) %></a>
    </div>
      </div>


   

  </div>
</section>


