<h1 class="text-center browse-header">Visual Artists</h1>
  <% @visual_artists.each do |visual_artist| %>
    <p class="inline-block"><%= image_tag visual_artist.image.url(:medium) %></br>
    <%= link_to(visual_artist.name, visual_artist_path(visual_artist.id), class: "btn btn-warning") %></p>
  <% end %> 
  <%= link_to "All", profiles_path, class: "btn btn-warning btn-lg" %>